@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    margin:0;
    --primary: #003F63;
    --dark:#353D40;
    --secondary:#F2B138;
    font-family: 'Merriweather',sans-serif;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    align-items: left;
    font-size: 2rem;
    padding-left: 5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color:white;
    background: linear-gradient(45deg,var(--primary),transparent),
    repeating-linear-gradient(-45deg,var(--dark) 30px,var(--secondary) 60px, transparent, transparent 90px),
    repeating-linear-gradient(45deg,var(--dark) 30px,var(--secondary) 60px);
    width: 100vw;
    height: 100vh;
    text-align: left;
}
.presentacion{
    position: relative;
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.circle{
    height: 10rem;
    width: 10rem;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top:-5rem;
    z-index: -1;
}
